.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks li {
  cursor: pointer;
}

.navLinks li a {
  color: #fff;
  text-decoration: none;
}
